* {
    margin: 0;
    padding: 0;
}

body {
    background: var(--20-a-18, #020A18);
    backdrop-filter: blur(100px);
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
}

.center {
    padding-left: calc(50% - 1146px / 2);
    padding-right: calc(50% - 1146px / 2);
}

.middle_center {
    margin-top: 160px;
    margin-bottom: 205px;
    display: flex;
    justify-content: center;
}

@media (max-width: 1024px) {
    .center {
        padding-left: calc(50% - 767px / 2);
        padding-right: calc(50% - 767px / 2);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .header {

        display: flex;
        justify-content: center;

    }

    .middle_center {
        margin-top: 160px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }

    .top_photo {
        padding-top: 128px;
        display: flex;

        justify-content: center;
    }

    .top_logos {
        padding-top: 197px;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 70px;
        justify-content: center;
        align-items: flex-start;
        align-content: center;
        width: 604px;
        margin: auto;
    }

    .section_3 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
        justify-content: flex-start;
    }
}

.header {
    display: flex;
    margin-top: 39px;
    justify-content: center;

}

.header_link {
    text-decoration: none;
    padding-left: 40px;
    /* justify-content: center; */

    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}

/* ----- */


.middle {
    display: flex;
    /* border: 244px; */
    margin-top: 67px;
    /* justify-content: flex-start; */
}

.middle_text {
    /* margin-left: 144px;
    margin-right: 98px; */
}

.top_photo {
    padding-left: 128px;
}

.title {
    height: 29px;
    color: var(--3-a-68-b-8, #3A68B8);
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    /* 28.8px */
    text-transform: uppercase;
}

.text_art {
    margin-top: 10px;
    width: 604px;

    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 55px;
    font-style: normal;
    font-weight: 800;
    line-height: 130%;
    /* 71.5px */
}

.about_text {
    margin-top: 40px;
    margin-bottom: 50px;
    width: 558px;
    height: 87px;

    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    /* 28.8px */
}

/* -------- */
.middle_buttons {
    display: flex;
    justify-content: flex-start;

}

.get_started {
    display: flex;
    background: #3A68B8;
    width: 171px;
    height: 57px;
    border-radius: 5px;
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    justify-content: center;
    align-items: center;

}

.watch_video {
    margin-left: 20px;
    padding-left: 30px;
    display: flex;
    background: #3A68B8;
    width: 200px;
    height: 57px;
    border-radius: 5px;
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    align-items: center;
}

.watch_text {
    padding-left: 10px;
}

.about {
    padding-left: 64px;
    display: flex;
    justify-content: center;
}

.heading {}

.about_content {
    padding-left: 100px;
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    /* 28.8px */
}


.top_logos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 70px;
    justify-content: center;
}

.section_2 {
    margin-top: 256px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    gap: 68px;

}

.text_art_2 {
    width: 484px;
    height: 104px;
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    /* 71.5px */
}

.about_text_2 {
    padding-top: 30px;

    width: 440px;
    height: 78px;

    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    /* 28.8px */
}

.middle_text_2 {
    padding-top: 100px;
    margin-left: 144px;
    margin-right: 98px;
}

.middle_buttons_2 {
    margin-top: 50px;
    display: flex;
    justify-content: flex-start;

}

.section_3 {
    margin-top: 264px;

    display: flex;
    justify-content: center;
    /* flex-direction: column;
    align-items: flex-start; */
    gap: 30px;

}

.section_3_1 {
    border-radius: 10px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.20) 0%, #FFF 100%);
    backdrop-filter: blur(100px);

    width: 362px;
    height: 389px;

    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 30px;

    /* display: flex;
    flex-wrap: wrap;
    /* justify-self: center; */
    align-content: center;

}

.photo_3_1 {
    display: flex;
    justify-content: center;
}

.section_text_top {

    width: 260px;
    height: 62px;
    color: var(--ffffff, #FFF);
    text-align: center;
    font-family: Open Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    /* 31.25px */

}

.section_text_down {
    width: 260px;
    height: 104px;
    color: var(--ffffff, #FFF);
    text-align: center;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    /* 25.6px */

}

.section_4 {
    margin: 243px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.section_4_text_left {
    width: 548px;
    height: 464px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
    gap: 20px;

}

.text_art_4 {


    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    /* 52px */


}

.about_text_4 {

    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    /* 25.6px */

}

.footer {
    margin-top: 269px;
    margin-left: 387px;
    margin-right: 387px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

}

.footer_information {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;


}

.footer_text_head {
    color: var(--ffffff, #FFF);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.footer_text_s_right {
    margin-top: 33px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: first baseline;
    gap: 24px;
    color: var(--ffffff, #FFF);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.footer_text {}

.footer_text_mid {
    width: 261px;
    color: var(--ffffff, #FFF);
    font-family: Roboto;
    font-size: 14px;
    font-style: italic;
    font-weight: 100;
    line-height: normal;
}

.footer_column_2 {}

.footer_column_3 {}

.footer_text_right {
    color: var(--ffffff, #FFF);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.network {
    margin-top: 24px;
    width: 102px;
    display: flex;
    justify-content: center;
    gap: 24px;
}